<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="frames/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <script src="frames/angular-1.4.0-rc.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/service.js"></script>
</head>
<body ng-controller="ShoppingCtrl">
<table class="table text-center">
    <tr>
        <td>编号</td>
        <td>名称</td>
        <td>类别</td>
        <td>价格</td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat="item in Shopping">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.story}}</td>
        <td>
            <button class="btn btn-primary" ng-click="oprate(item.id)">加入购物车</button>
        </td>
        <td></td>
    </tr>
</table>
<table class="table text-center table-hover">
    <tr class="bg-info">
        <td>序号</td>
        <td>名称</td>
        <td>数量</td>
        <td>价格</td>
        <td>小计</td>
        <td>数据操作</td>
    </tr>
    <tr ng-repeat="item in Car">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>
            <button class="btn btn-default" ng-click="sub(item.id)"
                    >-</button>
            <input type="text" ng-model="item.count" ng-change="wenben(item.id)">
            <button class="btn btn-default" ng-click="sup(item.id)">+</button>
        </td>
        <td>{{item.price | currency:'￥'}}</td>
        <td>{{item.count*item.price | currency:'￥'}}</td>
        <td>
            <button class="btn btn-danger" ng-click="remove(item.id)">删除</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button class="btn btn-danger" ng-click="clear()">清空购物车</button>
        </td>
    </tr>
    <tr class="bg-primary">
        <td>总计</td>
        <td></td>
        <td>{{sumCount()}}(件)</td>
        <td></td>
        <td>{{sumPrice() | currency:'￥'}}(元)</td>
        <td>
            <button class="btn btn-info">付款</button>
        </td>
    </tr>
</table>
</body>
</html>